@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.detailsContainer {
  display: flex;
  margin-left: 20em;
  margin-right: 20em;
  justify-content: space-evenly;
}

.cardDetailsRight {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 32rem;
  height: 40rem;
  padding-top: 2em;
  align-items: center;
}

.cardDetailsLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 32rem;
  height: 40rem;
}

.description {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  white-space: pre-wrap;
}
