.searchBar {
  font-size: medium;
  border: 0px;
  border-radius: 6em;
  width: 30rem;
  padding: 1em;
  background: none;
}

.searchBarContainer {
  margin-top: 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6em;
  height: 3rem;
  width: 30rem;
  display: flex;
  background-color: rgba(240, 225, 225, 0.3);
}

.searchButtonContainer {
  cursor: pointer;
  margin-top: 0.2em;
  margin-right: 1em;
  padding: 0.2em;
  display: flex;
  align-items: center;
}

.searchBar:focus {
  outline: none;
}
