nav {
  display: flex;
  margin-top: 2em;
  margin-left: 20em;
  margin-right: 20em;
  align-items: center;
}

.searchContainer {
  display: flex;
  /* width: 45rem; */
  justify-content: center;
  margin-bottom: 2em;
}

.logo {
  display: flex;
  height: 8em;
}

.logoContainer:hover {
  cursor: pointer;
}

.link {
  font-weight: 700;
}

.routePath {
  display: flex;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-left: 2em;
}

@media (min-width: 768px) and (max-width: 991px) {
  nav {
    margin: 0;
    width: 100vw;
  }

  .searchContainer {
    margin-right: 3em;
    width: 100vw;
  }
}

@media (max-width: 767px) {
  nav {
    display: flex;
    margin: 0;
    width: 100vw;
    padding: 0;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .searchContainer {
    margin-right: 5em;
    width: 20vw;
  }

  .routePath {
    margin: 0;
    padding: 0;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: none;
  }
}
