.cardsContainer {
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 5em;
}

.cardImage {
  display: flex;
  margin: 1em;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  align-self: flex-end;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25);
  max-width: 225px;
  height: fit-content;
}

.cardImage:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 300ms;
  box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.25);
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.modalButtonContainer {
  display: flex;
  width: 50%;
}
